body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  background-color: white;
}

/******************************************** HEADER **************************************************************/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.233)), url(../assets/images/charles-deluvio-D-vDQMTfAAU-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-size: cover;
}

.header-title {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  color: white;
  padding-top: 220px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 40px;
  }
}
.header-btn-link {
  text-align: center;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 18px 45px;
  letter-spacing: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 768px) {
  .header-btn-link {
    padding: 14px 30px;
    letter-spacing: 1.5px;
    font-size: 13px;
  }
}
.header-btn-link:hover {
  background-color: white;
  text-decoration: none;
  color: black;
  transition: 0.7s;
}

.header-btn {
  text-align: center;
  margin-top: 50px;
}

/******************************************** FOOD **************************************************************/
.food-types {
  background-color: #F8F9FA;
  height: fit-content;
}

.food-content {
  padding: 100px 0px;
}

.food-types-title {
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  color: black;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .food-types-title {
    font-size: 40px;
  }
}
.food-types-title-2 {
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  color: #999393;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .food-types-title-2 {
    font-size: 20px;
  }
}
.food-image-paragraph {
  margin: 8% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .food-image-paragraph {
    margin: 0px;
  }
}
.food-box {
  display: flex;
  flex-direction: row;
}

@media (max-width: 992px) {
  .food-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.food-box-2 {
  display: flex;
  flex-direction: row;
}

@media (max-width: 992px) {
  .food-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.image-food {
  width: 33.3%;
  height: 400px;
}

.food-pargarph {
  width: 33.3%;
  height: 400px;
  background-color: white;
}

@media (max-width: 992px) {
  .food-pargarph {
    width: 80%;
    margin-top: -350px;
    height: fit-content;
  }
}
@media (max-width: 590px) {
  .food-pargarph {
    width: 100%;
  }
}
.img-food-origin {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .img-food-origin {
    display: none;
  }
}
.vegies {
  text-align: center;
  margin-top: 35px;
  color: #ff6600;
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.beef-empanadas {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .beef-empanadas {
    font-size: 18px;
  }
}
.lorem {
  text-align: center;
  width: 80%;
  color: #999393;
  line-height: 2.5rem;
  font-size: 23px;
  font-weight: 100;
  justify-content: center;
  display: flex;
  margin-left: 10%;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .lorem {
    line-height: 32px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .lorem {
    font-size: 17px;
  }
}
.food-link-box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.food-link {
  font-size: 11px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.food-link:hover {
  color: black;
  text-decoration: none;
}

/******************************************** RESTAURANT **************************************************************/
.restaurant {
  background-color: white;
  height: fit-content;
}

.restaurant-content {
  margin: 0% 13%;
}

@media (max-width: 992px) {
  .restaurant-content {
    margin: 0 10%;
  }
}
@media (max-width: 768px) {
  .restaurant-content {
    margin: 0 8%;
  }
}
.restaurant-title {
  padding-top: 130px;
  font-size: 55px;
  font-weight: 500;
  color: black;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .restaurant-title {
    font-size: 40px;
  }
}
.restaurant-title-p {
  font-size: 20px;
  font-weight: 100;
  color: #999393;
  letter-spacing: 1px;
  width: 80%;
  line-height: 2rem;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .restaurant-title-p {
    width: 100%;
    font-size: 17px;
  }
}
.restaurant-title-p2 {
  font-size: 25px;
  font-weight: 100;
  color: #999393;
  letter-spacing: 1px;
  width: 80%;
  line-height: 2rem;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .restaurant-title-p2 {
    width: 100%;
    font-size: 20px;
  }
}
.image-restaurant {
  width: 100vw;
  object-fit: cover;
  margin-top: 60px;
}

/******************************************** CHEFS **************************************************************/
.chefs {
  height: fit-content;
  width: 100vw;
}

.chefs-title {
  text-align: center;
  padding-top: 130px;
  font-size: 55px;
  font-weight: 500;
  color: black;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .chefs-title {
    font-size: 40px;
  }
}
.chefs-main {
  display: flex;
  flex-direction: row;
}

@media (max-width: 992px) {
  .chefs-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.chef-container {
  margin: 0 80px;
}

.chef-1 {
  text-align: center;
  margin-top: 100px;
}

.img-chef {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  object-fit: cover;
}

.chef-name {
  margin-top: 45px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  .chef-name {
    font-size: 25px;
  }
}
.chef-master {
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #8f8f8c;
  font-size: 24px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .chef-master {
    font-size: 20px;
  }
}
.chef-paragraph {
  line-height: 2rem;
  color: #686565;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 40px 60px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .chef-paragraph {
    font-size: 18px;
    width: 100%;
    margin: 0;
  }
}
.chef-paragraph-2 {
  line-height: 2rem;
  color: #686565;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 40px 60px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .chef-paragraph-2 {
    font-size: 18px;
    width: 100%;
    margin: 20px 0;
  }
}
i {
  width: 30px;
  font-size: 20px;
  color: #f36e4c;
  cursor: pointer;
  margin-bottom: 200px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  i {
    margin-bottom: 50px;
    margin-top: 30px;
  }
}
i:hover {
  color: red;
}

/******************************************** MENU PILL **************************************************************/
.menu-box {
  width: 100%;
  height: fit-content;
  padding-bottom: 120px;
}

.menu-title {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  line-height: 60px;
  color: black;
  text-align: center;
  margin-top: 120px;
}

.menu-information {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
  color: #adadad;
  margin-bottom: 80px;
}

@media (max-width: 500px) {
  .menu-box .menu-title {
    font-size: 40px;
  }
  .menu-box .menu-information {
    font-size: 20px;
  }
}
.menu-category-box {
  width: 50%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 765px) {
  .menu-category-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-category-box .nav-menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .menu-category-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-category-box .nav-menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-category-box .nav-menu .nav-category {
    font-size: 12px;
  }
}
.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-category {
  border-bottom: 2px solid #808080;
  margin-left: 10px;
  font-size: 16px;
  color: #808080;
  font-weight: 600;
  font-style: normal;
}

.nav-category:hover {
  color: #808080;
}

.nav-category.active {
  color: #ff7a5c;
}

.nav-category.active:focus {
  color: #ff7a5c;
  border-bottom: 2px solid #ff7a5c;
}

.bootstrap-category {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.breakfast-main-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted grey;
  padding-bottom: 50px;
  margin-top: 30px;
}

.breakfast-box {
  width: 20%;
}
.breakfast-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  height: 150px;
}
@media (max-width: 768px) {
  .breakfast-box img {
    height: 100px;
  }
}

.breakfast-container {
  width: 60%;
  margin-left: 33px;
  margin-right: 33px;
}

.breakfast-name {
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 36px;
  color: black;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0, 5s;
}

.breakfast-name:hover {
  color: #807f7f;
}

.breakfast-information {
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  line-height: 36px;
  color: #999999;
}

@media (max-width: 768px) {
  .breakfast-information {
    font-size: 18px;
  }
}
.breakfast-cost {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #ff7a5c;
}

/******************************************** SERVICES **************************************************************/
.service-container {
  height: fit-content;
}

.service-title {
  text-align: center;
  padding-top: 100px;
  font-size: 55px;
  font-weight: 500;
  color: black;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .service-title {
    font-size: 40px;
  }
}
.service-title-para {
  text-align: center;
  font-size: 25px;
  color: #999393;
  font-weight: 300;
  margin-bottom: 100px;
  font-style: normal;
}

@media (max-width: 768px) {
  .service-title-para {
    font-size: 20px;
  }
}
.service-content-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 120px;
}

@media (max-width: 992px) {
  .service-content-mini {
    display: flex;
    flex-direction: column;
  }
}
.service-img {
  width: 80px;
  height: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .service-img {
    width: 50px;
  }
}
.service-box {
  text-align: center;
}

.service-box-title {
  margin-top: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.service-box-para {
  font-size: 20px;
  color: #808080;
  line-height: 36px;
  width: 80%;
  margin-top: 10px;
  font-weight: 100;
  margin-right: auto;
  margin-left: auto;
}

/******************************************** RESERVATION **************************************************************/
.reservation {
  background-color: #F8F9FA;
  height: fit-content;
  padding-bottom: 100px;
}

.reservation-title {
  text-align: center;
  padding-top: 130px;
  font-size: 55px;
  font-weight: 500;
  color: black;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .reservation-title {
    font-size: 40px;
  }
}
.reservation-title-mini {
  text-align: center;
  font-size: 25px;
  color: #999393;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 768px) {
  .reservation-title-mini {
    font-size: 20px;
  }
}
.reservation-form {
  width: 70%;
  height: fit-content;
  background-color: white;
  margin: 100px auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
  border: 1px solid white;
}

.reserve-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 992px) {
  .reserve-form {
    display: flex;
    flex-direction: column;
  }
}
.reserve-input {
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #c2bdbd;
}

@media (max-width: 992px) {
  .reserve-input {
    width: 80%;
  }
}
.reserve-input:hover {
  border: 2px solid #fc7147;
  transition: 0.7s;
}

.reserve-input:focus {
  border: 2px solid #fc7147;
}

.reserve-label {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  color: #808080;
  font-weight: 400;
  line-height: 36px;
  margin-left: 10%;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .reserve-label {
    margin-left: 10%;
  }
}
.reserve-btn {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.reserve-btn-link {
  text-align: center;
  color: #fc7147;
  text-decoration: none;
  border: 2px solid #fc7147;
  padding: 5px 55px;
  letter-spacing: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 768px) {
  .reserve-btn-link {
    font-size: 12px;
    padding: 4px 40px;
  }
}
.reserve-btn-link:hover {
  background-color: #fc7147;
  text-decoration: none;
  color: black;
  transition: 0.7s;
}

/******************************************** CUSTOMER **************************************************************/
.custom {
  height: 150vh;
}

.custom-title {
  text-align: center;
  padding-top: 130px;
  font-size: 55px;
  font-weight: 500;
  color: black;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .custom-title {
    font-size: 40px;
  }
}
.custom-title2 {
  text-align: center;
  font-size: 25px;
  color: #999393;
  font-weight: 300;
  font-style: normal;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .custom-title2 {
    font-size: 20px;
  }
}
.custom-title-box {
  width: 80%;
  margin: 20px auto;
}

.custom-testimonial {
  width: 200px;
  height: 260px;
  margin: 60px auto;
}

.image-car {
  text-align: center;
}

.img-carousel1 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.founder-name {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 15px;
}

.founder-job {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #cccccc;
  line-height: 25px;
}

.carousel-indicators-custom .car-indicators-1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f55727;
  transition: none;
}

.carousel-indicators-custom .car-indicators-1.active {
  border: 1px solid #f55727;
  transition: none;
}

/********************************************************** MAP **************************************************************/
.map {
  background-color: #F8F9FA;
  height: fit-content;
}

.map-title {
  text-align: center;
  padding-top: 130px;
  font-size: 55px;
  font-weight: 500;
  color: black;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .map-title {
    font-size: 40px;
  }
}
.map-form {
  border: 1px solid white;
  height: fit-content;
  width: 70%;
  margin: 100px auto;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 992px) {
  .form-container {
    display: flex;
    flex-direction: column;
  }
}
.map-input {
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #c2bdbd;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .map-input {
    width: 80%;
    margin-left: 10%;
  }
}
.map-input:hover {
  border: 2px solid #fc7147;
  transition: 0.7s;
}

.map-input:focus {
  border: 2px solid #fc7147;
}

.map-label {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  color: #808080;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .map-label {
    margin-left: 10%;
  }
}
.textarea-label {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  color: #808080;
  font-weight: 400;
  line-height: 36px;
  margin-left: 10%;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .textarea-label {
    margin-left: 10%;
  }
}
.textarea-input {
  height: 250px;
  width: 80%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #c2bdbd;
  margin: 10px 0;
  margin-left: 10%;
}

@media (max-width: 992px) {
  .textarea-input {
    width: 80%;
    margin-left: 10%;
  }
}
.textarea-input:hover {
  border: 2px solid #fc7147;
  transition: 0.7s;
}

.textarea-input:focus {
  border: 2px solid #fc7147;
}

.map-btn {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.map-btn-link {
  text-align: center;
  color: #fc7147;
  text-decoration: none;
  border: 2px solid #fc7147;
  padding: 5px 55px;
  letter-spacing: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 768px) {
  .map-btn-link {
    font-size: 13px;
    padding: 4px 40px;
  }
}
.map-btn-link:hover {
  background-color: #fc7147;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.map-box {
  margin-top: -100px;
}

footer {
  background-color: #161616;
  height: 100vh;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-box {
  width: 25%;
  margin: 100px;
}

.footer-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  color: white;
}

.footer-title2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  color: white;
}

.newsletter {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: 450;
  color: white;
}

.footer-paragraph {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 27px;
  color: #808080;
  font-weight: 400;
  margin: 20px 0px;
}

.footer-btn {
  padding: 20px 0px;
}

.footer-btn-link {
  text-align: center;
  color: #fc7147;
  text-decoration: none;
  border: 2px solid #fc7147;
  padding: 5px 35px;
  letter-spacing: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
}

.footer-btn-link:hover {
  background-color: #fc7147;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.footer-icon {
  margin: 20px 0px;
}

.footer-icons {
  color: white;
}

.footer-icons:hover {
  color: #cccccc;
}

.newsletter {
  margin: 20px 0px;
}

.footer-input {
  outline: none;
  height: 35px;
  width: 330px;
  border: none;
  padding: 20px;
}

.footer-template {
  text-align: center;
  color: #808080;
  margin-bottom: 100px;
}

/*# sourceMappingURL=meal.css.map */
